/**
 * Project Central
 * stylesheet.css - Universal Stylesheet
 * Description: Main stylesheet contains many universal styles for the website including the fonts, colors, 
 * navigation bar, footer, scrollbar, tooltips, etc.
 * Author: Daniel Barajas
 * Last update: 1/7/2022
 */
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
	height: 100%;
	color: #444;
    font-family: 'Roboto', sans-serif;
}

a {
     text-decoration: none;
}

/* Navigation Bar */

nav {
	width: 100%;
	height: 2.5em;
	background-color: rgba(51,51,51,.6);
	font-size: 1.25em;
	position: fixed;
	top: 0;
	box-shadow: 0 5px 10px -5px #111;
	z-index: 10;
	overflow: hidden;
	transition: all 0.5s;
}

nav:hover {
	background-color: rgba(51,51,51,.8);
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline;
	float: right;
}

nav ul a {
	display: block;
	padding: 0.75em 0.5em;
	color: #FFF;
	font-family: 'Major Mono Display', monospace;
	font-weight: bold;
	transition: 0.3s;
	text-align: center;
}

nav ul a:hover {
	background-color: rgba(17,17,17,.5);
}

nav ul a:active {
	transition: 0.1s;
	background-color: rgba(0,0,0,.7);
}

#vertNav li {
	float: none;
}

#vertNav {
	width: 100%;
	display: none;
}

.navCurrent {
    background-color: rgba(17,17,17,.5);
}

/* Tooltip feature */
.tooltip {
     position: relative;
     display: inline-block;
}
     
.tooltip .tooltiptext {
     visibility: hidden;
     width: 140px;
     background-color: #555;
     color: #fff;
     text-align: center;
     border-radius: 6px;
     padding: 5px;
     position: absolute;
     z-index: 1;
     bottom: 100%;
     left: 50%;
     margin-left: -75px;
     opacity: 0;
     transition: opacity 0.3s;
}
     
.tooltip .tooltiptext::after {
     content: "";
     position: absolute;
     top: 100%;
     left: 50%;
     margin-left: -5px;
     border-width: 5px;
     border-style: solid;
     border-color: #555 transparent transparent transparent;
}
     
.tooltip:hover .tooltiptext {
     visibility: visible;
     opacity: 1;
}

.textCopied {
     display: none;
}

/* Logo Design */
#logo {
	padding: 0.333em 0.5em;
	margin: 0;
	display: block;
	position: relative;
	float: left;
	color: #FFF;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	font-family: 'Major Mono Display', monospace;
	transition: 0.3s;
}

#logo:hover {
    background-color: rgba(17,17,17,.5);
    cursor: pointer;
}

#logo:active {
    transition: 0.1s;
    background-color: rgba(0,0,0,.7);
}

.title {
	transition: 0.3s;
	position: relative;
	display: inline-block;
}

.title:after {
	content: '\2193';
	position: absolute;
	opacity: 0;
	top: -0.075em;
	right: 0;
}

#logo:hover .title {
	padding-right: 0.75em;
}

#logo:hover .title:after {
	opacity: 1;
	right: -0.3em;
}

.close:after {
     content: '\00D7';
     font-size: 1.5em;
     position: absolute;
     top: -0.2em;
}

.titleAnim {
    display: inline-block;
    width: 4.44em;
    color: #FFF;
    overflow: hidden;
    font-size: 0.8333em;
    animation: titleAnimAlt 2s 1;
    animation-timing-function: ease-in-out;
}

.logoLetter {
    color: #F33;
    display: inline;
    font-size: 1em;
}

@keyframes titleAnimAlt {
    from {width: 0px; color: #333;}
    to {width: 4.44em; color: #FFF;}
}

/* Footer */
#details {
    background-color: #333;
    width: 100%;
    height: 18.75em;
    color: #FFF;
}

.column {
     width: 17.5%;
     height: 100%;
     float: left;
     color: #BBB;
}

.column ul {
     list-style-type: none;
     line-height: 2em;
     padding: 0;
}

.column a {
     color: #999;
     font-size: 1em;
}

.column a:hover {
     text-decoration: underline;
}

.column h2 {
     font-size: 1.5em;
}

#backToTop {
    background-color: #444;
    width: 100%;
    line-height: 3em;
    position: relative;
    color: #FFF;
    font-size: 0.75em;
    transition: 0.1s;
	text-align: center;
}

#backToTop:hover {
    background-color: #555;
}

#backToTop span {
	transition: 0.3s;
	position: relative;
	display: inline-block;
}

#backToTop span:after {
	content: '\2191';
	position: absolute;
	opacity: 0;
	top: -0.1em;
	right: 0;
}

#backToTop:hover span {
	padding-right: 0.5em;
	cursor: pointer;
}

#backToTop:hover span:after {
	opacity: 1;
	right: -0.3em;
}


#copyright {
    background-color: #111;
    width: 100%;
    line-height: 3.75em;
	text-align: center;
    position: relative;
    color: #FFF;
    font-size: 0.75em;
}

/* Miscellaneous */
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Media Queries for Screen Size Variations */
@media screen and (max-width: 900px), print {
     
	nav {
		height: 5em;
	}
	
	#horzNav li {
		width: 33.33%;
	}
	
	#logo {
		margin: 0;
		width: 100%;
	}
}

@media screen and (max-width: 650px), print {
     
	nav {
		height: 2.5em;
	}
	
	#horzNav {
		display: none;
	}
}

/* Scrollbar */
/*.descContent {
     mask-image: linear-gradient(to top, transparent, black),
     linear-gradient(to left, transparent 6px, black 6px);
     mask-size: 100% 20000px;
     mask-position: left bottom;
     -webkit-mask-image: linear-gradient(to top, transparent, black),
     linear-gradient(to left, transparent 6px, black 6px);
     -webkit-mask-size: 100% 20000px;
     -webkit-mask-position: left bottom;
     transition: mask-position 0.5s, -webkit-mask-position 0.5s;
}

.descContent:hover {
	-webkit-mask-position: left top;
}*/

/* Width */
/*#intro::-webkit-scrollbar, .descContent::-webkit-scrollbar {
	width: 5px;
}

/* Track *
#intro::-webkit-scrollbar-track, .descContent::-webkit-scrollbar-track {
	background: transparent;
}
 
/* Handle *
#intro::-webkit-scrollbar-thumb, .descContent::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

/* Handle on hover *
#intro::-webkit-scrollbar-thumb:hover, .descContent::-webkit-scrollbar-thumb:hover {
	background: #555;
}*/

*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar:hover {
	width: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-track:hover {
	width: 20px;
}
 
/* Handle */
*::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 3px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
	background: #555;
}
